<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saisi.agni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fire"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fire"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TrainingCenterLogin"
            android:label="@string/title_activity_training_center_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoreUserDetails"
            android:label="@string/title_activity_more_user_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TrainingCenterProfile"
            android:label="@string/title_activity_training_center_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".PreviousPosts"></activity>
    </application>

</manifest>